@charset "UTF-8";

/*Author:Kai Zhang(zhang-kai),License:MIT,Status:Beta*/

@keyframes material {
    0% {
        opacity: 1;
    }
    1% {
        opacity: 0;
    }
    2% {
        opacity: 1;
        width: 3.27rem;
        height: 3.27rem;
        position: absolute;
        bottom: -10rem;
        right: -10rem;
        z-index: 50;
    }
    100% {
        width: 327rem;
        height: 327rem;
        position: absolute;
        bottom: -100rem;
        right: -100rem;
    }
}

.fab:active,
.fab:focus {
    animation-name: material;
    -webkit-animation-name: material;
    -moz-animation-name: material;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
}

@media (max-width:500px) {
    .fab:active,
    .fab:focus {
        animation-duration: 1s;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
    }
}