@charset "UTF-8";

/*Author:Kai Zhang(zhang-kai),License:MIT,Status:Beta*/

@keyframes material {
    0% {
        opacity: 1;
        background-color: #C2185B;
    }
    5% {
        background-color: #E91E63;
        box-shadow: 0 0 0 0 transparent;
    }
    100% {
        opacity: 1;
        transform: scale(500, 500);
    }
}

.fab:active,
.fab:focus {
    animation-name: material;
    -webkit-animation-name: material;
    -moz-animation-name: material;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    -moz-animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

@media (max-width:500px) {
    .fab:active,
    .fab:focus {
        animation-duration: 1.5s;
        -webkit-animation-duration: 1.5s;
        -moz-animation-duration: 1.5s;
    }
}