@charset "UTF-8";

/*Global style*/

body {
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ECEFF1;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


/*Up*/

.header {
    position: fixed;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 40%;
    min-width: 350px;
    background-color: #2196F3;
    z-index: 10;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, .23), 0 3px 10px rgba(0, 0, 0, .16);
    box-shadow: 0 3px 10px rgba(0, 0, 0, .23), 0 3px 10px rgba(0, 0, 0, .16);
}

.logo {
    border: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    border: none;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    -webkit-box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.14), 0 2px 36px 0 rgba(0, 0, 0, 0.12), 0 6px 10px -2px rgba(0, 0, 0, 0.4);
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.14), 0 2px 36px 0 rgba(0, 0, 0, 0.12), 0 6px 10px -2px rgba(0, 0, 0, 0.4);
    z-index: 15;
    overflow: hidden;
}

.container:hover,
.container:focus {
    -webkit-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.14), 0 2px 20px 0 rgba(0, 0, 0, 0.12), 0 4px 8px -2px rgba(0, 0, 0, 0.4);
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.14), 0 2px 20px 0 rgba(0, 0, 0, 0.12), 0 4px 8px -2px rgba(0, 0, 0, 0.4);
}


/*Down*/

.name {
    overflow: visible;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 70%;
    z-index: 5;
    white-space: nowrap;
    font-size: 1.8em;
    text-decoration: none;
    color: #263238;
    border: none;
}

.text {
    color: #607D8B;
    overflow: visible;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 75%;
    z-index: 5;
    font-size: 1.2em;
    line-height: 1.7em;
    word-wrap: break-word;
    word-break: normal;
    text-align: center;
    margin-top: 2em;
    width: 33.3%;
    text-decoration: none;
    padding-top: 1em;
}


/*For IE*/

#warning {
    z-index: 100;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #FFFFFF;
}

#warning p {
    color: #000000;
    margin-left: 5px;
    font-size: 20px;
}


/*For some mobile device*/

@media (max-width: 700px) {
    .header {
        min-width: 150px;
        min-height: 150px;
    }
    .container {
        width: 150px;
        height: 150px;
        -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
    }
    .container:hover,
    .container:focus {
        -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
    }
    .name {
        font-size: 1.2em;
        top: 60%;
    }
    .text {
        font-size: 0.9em;
        top: 70%;
        width: 66.6%;
    }
}